@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('JosefinSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('JosefinSans.woff') format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url('JosefinSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  src: url('JosefinSans-Italic.woff') format('woff');
}

html {
    background-color: #e9e9e9;
    font-family: "Josefin Sans";
    font-weight: 400;
}

body {
    width: 880px;
    margin: auto;
    font-weight: 400px;
    font-size: 19px;
}

footer {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #333;
}

img {
    text-decoration: none;
    border: none;
}

.header img {
    transition: 1s ease-in-out;
}

.header img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.header h1 {
    text-align: center;
    font-weight: normal;
    font-size: 52px;
    height: 120px;
    vertical-align: middle;
    line-height: 120px;
    color: green;
    text-shadow: 0px 0px 20px #888;
}
.header h1 span {
    font-size: 50%;
    color: #999;
}

.header img {
    border-radius: 50%;
    box-shadow: 0px 0px 10px #888;
    float: right;
}

.post img {
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888;
    margin: auto;
    display: block;
}

h1 {
    margin-top: 0px;
    font-size: 32px;
    color: #990000;
    font-weight: normal;
}

h1 a {
    color: inherit;
}

h1 a:hover {
    text-decoration: none;
}

a {
    color: #990000;
    text-decoration: none;
    transition: color 1s ease;
}

a:hover {
    color: green;
    text-decoration: underline;
}

h2 {
    font-size: 23px;
    font-weight: normal;
    font-weight: 400;
    color: #990000;
}

pre {
    font-family: monospace;
    font-size: 12px;
    padding: 10px;
    box-shadow: inset 0px 0px 9px 0px #666;
    border-radius: 5px;
}

code {
    font-family: "Josefin Sans";
    font-weight: 700;
    font-style: italic;
}

.date {
    font-style: italic;
    color: #666;
    margin-top: 100px;
}

#contents {
    padding: 15px;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;
}

#contents p {
    text-indent: 20px;
}

.postbar {
    text-align: right;
}

a.comment_btn:hover {
    background-image: url(../comment.png), linear-gradient(rgb(47, 150, 180), rgb(91, 192, 222));
}

a.comment_btn {
    background-color: rgb(73, 175, 205);
    background-image: url(../comment.png), linear-gradient(rgb(91, 192, 222), rgb(47, 150, 180));
    background-repeat: no-repeat, repeat-x;
    background-position: 4px 3px, 0px 0px;
    border-bottom-color: rgba(0, 0, 0, 0.247059);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.0980392);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 6px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    vertical-align: middle;
}

